<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSE Motors</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body style="background: url('/images/site/checkerboard.jpg') repeat;">
  <div class="container">
    <header>
      <h2>CSE Motors</h2>
      <a href="#">My Account</a>
    </header>

    <nav>
      <a href="/">Home</a>  
      <a href="/inventory/type/1">Custom</a>  
      <a href="/inventory/type/2">Sedan</a>   
      <a href="/inventory/type/3">SUV</a>     
      <a href="/inventory/type/4">Truck</a>   
    </nav>

    <h1>Welcome to CSE Motors!</h1>

    <div class="hero">
      <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean">
      <div class="details">
        <h3>DMC Delorean</h3>
        <p>3 Cup holders<br>Superman doors<br>Fuzzy dice! <br> 
           <a class="button" href="/detail/1">Own Today</a></p>  
      </div>
    </div>

    <div class="row">
      <div class="column">
        <h3>Delorean Upgrades</h3>
        <div class="upgrade">
          <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
          <a href="#">Flux Capacitor</a>
        </div>
        <div class="upgrade">
          <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
          <a href="#">Flame Decals</a>
        </div>
        <div class="upgrade">
          <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
          <a href="#">Bumper Stickers</a>
        </div>
        <div class="upgrade">
          <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
          <a href="#">Hub Caps</a>
        </div>
      </div>
      <div class="column">
        <h3>DMC Delorean Reviews</h3>
        <div class="review">“So fast it’s almost like traveling in time.” (4/5)</div>
        <div class="review">“Coolest ride on the road.” (4/5)</div>
        <div class="review">“I’m feeling McFly!” (5/5)</div>
        <div class="review">“The most futuristic ride of our day.” (4.5/5)</div>
        <div class="review">“80’s livin and I love it!” (5/5)</div>
      </div>
    </div>

    <footer>
      &copy; 2025, WDD 340 App
    </footer>
  </div>

  <script src="/js/script.js"></script> 
</body>
</html>
