<h1><%= title %></h1>


<% if (messages?.notice?.length) { %>
  <div class="notice">
    <% messages.notice.forEach(msg => { %>
      <p><%= msg %></p>
    <% }) %>
  </div>
<% } %>

<% if (errors?.array?.length) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<form class="input-box" action="/inv/add-classification" method="post" novalidate>
  <label for="classification_name">Classification Name</label>
  <input
    type="text"
    id="classification_name"
    name="classification_name"
    required
    pattern="[A-Za-z0-9]+"
    title="Alphanumeric characters only, no spaces"
    value="<%= classification_name || '' %>">
  <span class="fine-print">Required. Alphanumeric, no spaces.</span>

  <input type="submit" value="Add Classification">
</form>
